In [65]:
import pandas as pd
import numpy as np

In [66]:
df = pd.read_csv('weather_hourly_chicago.csv')

In [67]:
#die Daten sortieren, denn sie sind falsch sortiert! (von 1-5 uhr sind sie fast immer am tag zuvor)
df=df.sort_values('date_time')

df

                 date_time  max_temp  min_temp  precip
6      2015-01-01 07:00:00      -8.3      -8.3     0.0
7      2015-01-01 08:00:00      -8.9      -8.9     0.0
8      2015-01-01 09:00:00      -8.9      -8.9     0.0
9      2015-01-01 10:00:00      -9.4      -9.4     0.0
10     2015-01-01 11:00:00     -10.0     -10.0     0.0
...                    ...       ...       ...     ...
38934                  NaN       NaN       NaN     NaN
38935                  NaN       NaN       NaN     NaN
38936                  NaN       NaN       NaN     NaN
38937                  NaN       NaN       NaN     NaN
38938                  NaN       NaN       NaN     NaN

[43848 rows x 4 columns]

In [68]:
df.iloc[17514:]

                 date_time  max_temp  min_temp  precip
17541  2016-12-31 22:00:00       0.6       0.6     0.0
17542  2016-12-31 23:00:00       0.0       0.0     0.0
17543  2017-01-01 00:00:00      -0.6      -0.6     0.0
17520  2017-01-01 01:00:00      -2.2      -2.2     0.0
17521  2017-01-01 02:00:00      -2.8      -2.8     0.0
...                    ...       ...       ...     ...
38934                  NaN       NaN       NaN     NaN
38935                  NaN       NaN       NaN     NaN
38936                  NaN       NaN       NaN     NaN
38937                  NaN       NaN       NaN     NaN
38938                  NaN       NaN       NaN     NaN

[26334 rows x 4 columns]

In [69]:
#alle daten vor 2017 rauswerfen
df = df.iloc[17516:]

In [70]:
df.iloc[:8753]

                 date_time  max_temp  min_temp  precip
17543  2017-01-01 00:00:00      -0.6      -0.6     0.0
17520  2017-01-01 01:00:00      -2.2      -2.2     0.0
17521  2017-01-01 02:00:00      -2.8      -2.8     0.0
17522  2017-01-01 03:00:00      -3.3      -3.3     0.0
17523  2017-01-01 04:00:00      -3.3      -3.3     0.0
...                    ...       ...       ...     ...
26300  2017-12-31 21:00:00     -10.6     -10.6     0.0
26301  2017-12-31 22:00:00     -11.7     -11.7     0.0
26302  2017-12-31 23:00:00     -12.8     -12.8     0.0
26303  2018-01-01 00:00:00     -13.9     -13.9     0.0
26280  2018-01-01 01:00:00     -15.0     -15.0     0.0

[8753 rows x 4 columns]

In [71]:
df=df.iloc[:8751]
df

                 date_time  max_temp  min_temp  precip
17543  2017-01-01 00:00:00      -0.6      -0.6     0.0
17520  2017-01-01 01:00:00      -2.2      -2.2     0.0
17521  2017-01-01 02:00:00      -2.8      -2.8     0.0
17522  2017-01-01 03:00:00      -3.3      -3.3     0.0
17523  2017-01-01 04:00:00      -3.3      -3.3     0.0
...                    ...       ...       ...     ...
26298  2017-12-31 19:00:00     -11.1     -11.1     0.0
26299  2017-12-31 20:00:00     -10.6     -10.6     0.0
26300  2017-12-31 21:00:00     -10.6     -10.6     0.0
26301  2017-12-31 22:00:00     -11.7     -11.7     0.0
26302  2017-12-31 23:00:00     -12.8     -12.8     0.0

[8751 rows x 4 columns]

In [72]:
#Datensatz bisschen aufraumen
df['avg_temp']=df[['max_temp','min_temp']].mean(axis=1)
df=df.drop(["max_temp", "min_temp"], axis = 1)
df=df.drop_duplicates(subset=['date_time'])
df.reset_index(drop=True, inplace=True)
df

                date_time  precip  avg_temp
0     2017-01-01 00:00:00     0.0      -0.6
1     2017-01-01 01:00:00     0.0      -2.2
2     2017-01-01 02:00:00     0.0      -2.8
3     2017-01-01 03:00:00     0.0      -3.3
4     2017-01-01 04:00:00     0.0      -3.3
...                   ...     ...       ...
8232  2017-12-31 19:00:00     0.0     -11.1
8233  2017-12-31 20:00:00     0.0     -10.6
8234  2017-12-31 21:00:00     0.0     -10.6
8235  2017-12-31 22:00:00     0.0     -11.7
8236  2017-12-31 23:00:00     0.0     -12.8

[8237 rows x 3 columns]

In [73]:
#gibt dir anzahl der tage des monats
def tagepromonth(month):
    if month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12:
        return 31
    if month==4 or month==6 or month==9 or month==11:
        return 30
    if month==2:
        return 28
    
dates=[]

for monat in range(12):
    for tag in range(tagepromonth(monat+1)):
        for stunde in range(24):
            if monat<9:
                mon='0'+str(monat+1)
            else:
                mon=str(monat+1)
            if tag<9:
                day='0'+str(tag+1)
            else:
                day=str(tag+1)
            if stunde<=9:
                hour='0'+str(stunde)
            else:
                hour=str(stunde)
                
            date="2017-"+mon+"-"+day+" "+hour+':00:00'
            dates.append(date)

In [74]:
alldatesdf=pd.DataFrame(dates,columns=['date_time'])

In [78]:
falldates=alldatesdf.merge(df,how='left',left_on=['date_time'],right_on=['date_time'])
falldates

                date_time  precip  avg_temp
0     2017-01-01 00:00:00     0.0      -0.6
1     2017-01-01 01:00:00     0.0      -2.2
2     2017-01-01 02:00:00     0.0      -2.8
3     2017-01-01 03:00:00     0.0      -3.3
4     2017-01-01 04:00:00     0.0      -3.3
...                   ...     ...       ...
8755  2017-12-31 19:00:00     0.0     -11.1
8756  2017-12-31 20:00:00     0.0     -10.6
8757  2017-12-31 21:00:00     0.0     -10.6
8758  2017-12-31 22:00:00     0.0     -11.7
8759  2017-12-31 23:00:00     0.0     -12.8

[8760 rows x 3 columns]

In [82]:
missing=falldates[falldates['precip'].isna()]
missing

                date_time  precip  avg_temp
41    2017-01-02 17:00:00     NaN       NaN
44    2017-01-02 20:00:00     NaN       NaN
47    2017-01-02 23:00:00     NaN       NaN
55    2017-01-03 07:00:00     NaN       NaN
59    2017-01-03 11:00:00     NaN       NaN
...                   ...     ...       ...
8694  2017-12-29 06:00:00     NaN       NaN
8708  2017-12-29 20:00:00     NaN       NaN
8711  2017-12-29 23:00:00     NaN       NaN
8713  2017-12-30 01:00:00     NaN       NaN
8723  2017-12-30 11:00:00     NaN       NaN

[523 rows x 3 columns]

In [83]:
# forward fill für precip
falldates["precip"] = falldates["precip"].fillna(method = "ffill")

In [85]:
missing=falldates[falldates['avg_temp'].isna()]
missing

                date_time  precip  avg_temp
41    2017-01-02 17:00:00     0.0       NaN
44    2017-01-02 20:00:00     0.0       NaN
47    2017-01-02 23:00:00     0.0       NaN
55    2017-01-03 07:00:00     1.0       NaN
59    2017-01-03 11:00:00     0.0       NaN
...                   ...     ...       ...
8694  2017-12-29 06:00:00     1.0       NaN
8708  2017-12-29 20:00:00     1.0       NaN
8711  2017-12-29 23:00:00     1.0       NaN
8713  2017-12-30 01:00:00     1.0       NaN
8723  2017-12-30 11:00:00     0.0       NaN

[523 rows x 3 columns]

In [86]:
final_df = falldates.interpolate(method='index', limit=1)

In [88]:
missing=final_df[final_df['avg_temp'].isna()]
missing

                date_time  precip  avg_temp
4061  2017-06-19 05:00:00     0.0       NaN
5480  2017-08-17 08:00:00     0.0       NaN
5481  2017-08-17 09:00:00     0.0       NaN

In [93]:
falldates.iloc[4057:4065]

                date_time  precip  avg_temp
4057  2017-06-19 01:00:00     0.0      23.3
4058  2017-06-19 02:00:00     0.0      23.3
4059  2017-06-19 03:00:00     0.0      22.2
4060  2017-06-19 04:00:00     0.0       NaN
4061  2017-06-19 05:00:00     0.0       NaN
4062  2017-06-19 06:00:00     0.0      21.1
4063  2017-06-19 07:00:00     0.0      20.0
4064  2017-06-19 08:00:00     0.0      18.9

In [95]:
falldates.iloc[5477:5485]

                date_time  precip  avg_temp
5477  2017-08-17 05:00:00     0.0       NaN
5478  2017-08-17 06:00:00     0.0      25.0
5479  2017-08-17 07:00:00     0.0       NaN
5480  2017-08-17 08:00:00     0.0       NaN
5481  2017-08-17 09:00:00     0.0       NaN
5482  2017-08-17 10:00:00     1.0      23.9
5483  2017-08-17 11:00:00     1.0       NaN
5484  2017-08-17 12:00:00     1.0      23.3

In [96]:
#its safe to say that i can easily interpolate with more than 1 limit!
final_df = falldates.interpolate(method='index', limit=1)
final_df

                date_time  precip  avg_temp
0     2017-01-01 00:00:00     0.0      -0.6
1     2017-01-01 01:00:00     0.0      -2.2
2     2017-01-01 02:00:00     0.0      -2.8
3     2017-01-01 03:00:00     0.0      -3.3
4     2017-01-01 04:00:00     0.0      -3.3
...                   ...     ...       ...
8755  2017-12-31 19:00:00     0.0     -11.1
8756  2017-12-31 20:00:00     0.0     -10.6
8757  2017-12-31 21:00:00     0.0     -10.6
8758  2017-12-31 22:00:00     0.0     -11.7
8759  2017-12-31 23:00:00     0.0     -12.8

[8760 rows x 3 columns]

In [97]:
final_df.count()

date_time    8760
precip       8760
avg_temp     8757
dtype: int64